
@{
    ViewBag.Title = "FormularioEditImovel";
}

<h4>Alterar Dados do Imóvel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoImovel" class="control-label">Tipo do Imóvel</label>
                <input asp-for="TipoImovel" class="form-control" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

